---
title: The Ruby small text search engine.
layout: default
---

.container_2
  %h2= h page.title
  .grid_1
    %h3 What's that?
    %p
      Picky is a really
      %strong easy to use
      and
      %strong fast
      Ruby search engine that helps your users
      %strong find what they are looking for.
    %h3 Try…
    %p
      %ul
        %li
          A simple
          %a{ :href => 'http://picky-simple-example.heroku.com/' } library example
          (wait 3 seconds for it to boot up).
        %li
          A telephone book search for Switzerland:
          = succeed('.') do
            %a{ :href => 'http://twixtel.com' } TwixTel online
    %h3 What it is
    %p
      A small-text search engine for categorized data, such as varchar fields from a database (such as most data).
    %p
      It offers a HTTP interface, and a comfortable web front end for your application.
    %p
      Continue reading in the
      = succeed('.') do
        %a{ :href => 'details.html' } in Detail section
    %h3 What it is not
    %p
      A full-text search engine for uncategorized data (like text from a book). If you need that, look at
      %a{ :href => 'http://sphinxsearch.com/' } Sphinx
      or
      = succeed('.') do
        %a{ :href => 'http://lucene.apache.org/solr/' } Solr (Lucene)
      They will help.
    %h3 Where it is
    %p
      Picky lives in a little cave called
      = succeed('.') do
        %a{ :href => 'http://github.com/floere/picky' } The Github Repo
      He usually pays his rent on time.
  .grid_1
    %h3 Getting Started
    %p
      Got 5 minutes?
      %a{ :href => 'getting_started.html' } Install and run Picky
      on your computer and adapt the examples.
    %h3 Feedback
    %p
      I'm always glad for your help. So if anything is not working, or not working for you, just shoot me a message:
      %p
        %ul
          %li
            %a{ :href => 'http://github.com/inbox/new/floere' } Message me on github (floere)
          %li
            %a{ :href => 'http://twitter.com/hanke' } Follow me on twitter (hanke)
          %li
            %a{ :href => 'mailto:florian.hanke@gmail.com' } Send me mail (gmail)
      %p
        You might also find excellent Pickyists on IRC in
        %a{ :href => 'http://webchat.freenode.net/' } #picky
        that can also help.
      %p
        This webpage & the images on it have been designed by me – if you have feedback on anything, I'm pleased to hear it.